html, body {
    background-color: #606060;
}

a, a:visited, .link {
    color: #666666
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

a:focus {
    -moz-outline: 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.hidden {
	display: none;
}

.clear {
	clear: both;
}

.spacing {
	margin-bottom: 8px;
}

/*********** site layout ******************/

#site-doc{
	background-color: #ffffff;
	border-top: solid 3px #e2eecd;
}

#site-hd{
	border-bottom: 1px dotted #E2EECD;
	margin-bottom: 10px;
}

#site-ft{
	background-color: #e2eecd;
	padding: 8px;
	text-align:center;
	border-style: solid;
	border-width: 0px;
	border-top-width: 2px;
	border-color: #d2e6bd;
}

/*********** end of site layout ***********/

#logo {
	float: left;
    cursor: pointer;
    height: 32px;
    width: 158px;
    font-size: 170%;
    font-weight: bolder;
    color:#555555;
    margin: 5px 0 0 10px;
}

#logo>a{
	text-decoration: none;
}

#linkbar {
    float: right;
    padding: 3px 6px;
}


/*********** nav block ********************/
.sidebar-block {
	padding: 4px 0 8px 0;
	width: 94%;
	margin-left: 6%;
	overflow: hidden;
	background-color: #E7E7DE;
	border: 1px solid #BBBBBB;
}

.sidebar-block-inner {
	padding: 0 8px 2px 8px;
	overflow: hidden;
	min-height: 40px;
}

.sidebar-block-header {
	padding: 2px 0 2px 0;
	border-bottom: solid 1px #fff;
	font-weight: bolder;
	font-size: 110%;
	color: #333;
}

.sidebar-block-content {
	margin-top: 8px;
	font-size: 100%;
}

.sidebar-block-footer {
	border-top: 1px solid #FFFFFF;
	font-size: 100%;
	margin: 8px 0 0 0;
	padding: 4px 0 0 0;
}

.sidebar-block-content ul.sidebar-block-list li {
	margin: 0 0 5px 5px;
	padding: 0 5px 0 14px;
	list-style-type: none;
	display: block;
	float: left;
	clear: left;
	background: url('../images/bullet-arrow.gif') no-repeat center left;
}

.sidebar-block-content ul.sidebar-block-list li.selected {
	background-color: #d2e6bd;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.sidebar-block-content ul.sidebar-block-list li.selected a {
	color: #000;
	text-decoration: none;
	cursor: default;
}

.sidebar-block-content ul.sidebar-tag-cloud {
	line-height: 225%;
	list-style-type: none;
}

.sidebar-block-content ul.sidebar-tag-cloud li {
	
}
/***************** end of nav block *********************/