html, body {
    background-color: #606060;
}

a, a:visited, .link {
    color: #666666
}

a:focus {
    -moz-outline: 0;
}

a:focus, .unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

p {
	line-height:140%;
	margin:0pt;
	padding:1em 0 0 0;
}



.input-big {
	font-size:130%;
	width:90%;
}

.common-title{
	color: #999999;
	font-size: 140%;
	font-weight: bold;
	margin: 0px;
	padding: 4px 4px 4px 0px;
}

h1{
	font-size: 150%;
	margin: 0px 10px 0px 0px;
	padding: 10px 0px 5px;
	font-weight: 600;
	letter-spacing: 0px;
}

h2{
	font-size: 135%;
	margin: 0px 10px 0px 0px;
	padding: 10px 0px 5px;
	font-weight: 600;
	letter-spacing: 0px;
}

h3{
	font-size: 120%;
	margin: 0px 10px 0px 0px;
	padding: 10px 0px 5px;
	font-weight: 600;
	letter-spacing: 0px;
}

/*********************************************************************/

.site-doc{
	background-color: #ffffff;
	border-top: solid 3px #e2eecd;
}

#hd{
	border-bottom: 1px dotted #E2EECD;
	margin-bottom: 10px;
}

#ft{
	background-color: #e2eecd;
	padding: 8px;
	text-align:center;
	border-style: solid;
	border-width: 0px;
	border-top-width: 2px;
	border-color: #d2e6bd;
}

#logo {
	float: left;
    cursor: pointer;
    height: 32px;
    width: 258px;
    font-size: 170%;
    font-weight: bolder;
    color:#555555;
    margin: 5px 0 0 10px;
}

#logo>a{
	text-decoration: none;
}

#linkbar {
    float: right;
    padding: .5em 1em;
}

#breadcrumb{
    margin-bottom: 10px;
    font-size: 93%
}

#main-content{
	padding: 2px 12px 12px 20px
}

#main-content .entry{
	padding: 8px 0;
	border-bottom: 1px dotted #E2EECD;
}

#main-content .entry .entry-title{
	font-size: 150%;
	font-weight: bold;
	color:#333333;
}

#main-content .entry .entry-title a{
	text-decoration: none;
	color:#333333; 
}

#main-content .entry .entry-title a:hover{
	text-decoration: underline;
	color:#333333;
}

#main-content .entry .entry-info{
	margin: 4px 0 8px 4px;
	color: #666666;
	font-size: 93%;
}

#main-content .entry .entry-content{
	margin: 6px 0;
}

#main-content .entry .entry-content ul{
	line-height: 140%;
	margin: 5px 0 0 20px;
}

#main-content .entry .entry-content ul li{
	list-style: disc;
}

#main-content .entry .entry-footer{
	margin-top: 12px;
	color: #333333;
	font-size: 93%;
}

#main-content .entry .entry-footer .entry-tags{
	margin-left: 4px;
	float: left;
}

#main-content .entry .entry-footer .entry-actions{
	margin-right: 18px;
	float: right;
}

#main-content .entry .entry-footer .entry-actions span:hover{
	cursor: pointer;
	text-decoration: underline;
}

#main-content .feed-entry{
	padding: 8px 0;
	border-bottom: 1px dotted #E2EECD;
}

#main-content .feed-entry .title{
	margin-bottom:4pt;
}

#main-content .feed-entry .info{
	color:#737373;
}

#main-content .resource{
	background-color:#EEEEEE;
	margin: 10px 0;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#main-content .resource .resource-item{
	padding-bottom: 5px;
}

#main-content .resource .resource-actions{
	float:right;
}

.paging-area{
	font-size:100%;
	font-weight:bold;
	float:right;
}

