#ae-logo{
	text-decoration:none;
	font-size: 140%;
}

.spur-bar{
	background: url(../images/spur_bar_bg.gif) repeat-x;
	height:31px;
	line-height: 31px;
	margin-bottom: 15px;
	font-size: 14px;
	padding: 0 0.5em;
}

.spur-cal-form{
	padding: 0.5em;
	background-color: #D2E6D2;
}

.spur-cal-form .label-row{
	float:left;
	font-size:100%;
	font-weight:bold;
	padding-top:3px;
	width:6em;
	padding: 2px 1px;
}

.spur-cal-form .input-row{
	margin: 0 0 0.5em 6em;
}

.spur-cal-form input.fieldinput, .spur-cal-form textarea{
	width: 300px;
}

.spur-cal-form input.text, .spur-cal-form textarea{
	border:1px solid #B2B2B2;
}
