html,body,div,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,table,caption,tbody,tfoot,thead,tr,th,td,form,fieldset,embed,object,applet{margin:0;padding:0;border:0;}
body{font-size:62.5%;font-family:Arial,sans-serif;color:#000;background:#fff;}
a{color:#00c;}
a:active{color:#f00;}
a:visited{color:#551a8b;}
table{border-collapse:collapse;border-width:0;empty-cells:show;}
ul{padding:0 0 1em 1em;}
ol{padding:0 0 1em 1.3em;}
li{line-height:1.5em;padding:0 0 .5em 0;}
p{padding:0 0 1em 0;}
h1,h2,h3,h4,h5{padding:0 0 1em 0;}
h1,h2{font-size:1.3em;}
h3{font-size:1.1em;}
h4,h5,table{font-size:1em;}
sup,sub{font-size:.7em;}
input,select,textarea,option{font-family:inherit;font-size:inherit;}
.g-doc,.g-doc-1024{font-size:130%;}
.g-doc{width:100%;text-align:left;}
.g-section{width:100%;vertical-align:top;display:inline-block;}
*:first-child+html .g-section{display:block;}
* html .g-section{overflow:hidden;}
.g-section,.g-unit{zoom:1;}
.g-split .g-unit{text-align:right;}
.g-split .g-first{text-align:left;}
.g-doc-1024{width:73.074em;* width:71.313em;min-width:950px;margin:0 auto;text-align:left;}
.g-tpl-160 .g-unit,.g-unit .g-tpl-160 .g-unit,.g-unit .g-unit .g-tpl-160 .g-unit,.g-unit .g-unit .g-unit .g-tpl-160 .g-unit{margin:0 0 0 160px;width:auto;float:none;}
.g-unit .g-unit .g-unit .g-tpl-160 .g-first,.g-unit .g-unit .g-tpl-160 .g-first,.g-unit .g-tpl-160 .g-first,.g-tpl-160 .g-first{margin:0;width:160px;float:left;}
.g-tpl-160-alt .g-unit,.g-unit .g-tpl-160-alt .g-unit,.g-unit .g-unit .g-tpl-160-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-160-alt .g-unit{margin:0 160px 0 0;width:auto;float:none;}
.g-unit .g-unit .g-unit .g-tpl-160-alt .g-first,.g-unit .g-unit .g-tpl-160-alt .g-first,.g-unit .g-tpl-160-alt .g-first,.g-tpl-160-alt .g-first{margin:0;width:160px;float:right;}
.g-tpl-180 .g-unit,.g-unit .g-tpl-180 .g-unit,.g-unit .g-unit .g-tpl-180 .g-unit,.g-unit .g-unit .g-unit .g-tpl-180 .g-unit{margin:0 0 0 180px;width:auto;float:none;}
.g-unit .g-unit .g-unit .g-tpl-180 .g-first,.g-unit .g-unit .g-tpl-180 .g-first,.g-unit .g-tpl-180 .g-first,.g-tpl-180 .g-first{margin:0;width:180px;float:left;}
.g-tpl-180-alt .g-unit,.g-unit .g-tpl-180-alt .g-unit,.g-unit .g-unit .g-tpl-180-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-180-alt .g-unit{margin:0 180px 0 0;width:auto;float:none;}
.g-unit .g-unit .g-unit .g-tpl-180-alt .g-first,.g-unit .g-unit .g-tpl-180-alt .g-first,.g-unit .g-tpl-180-alt .g-first,.g-tpl-180-alt .g-first{margin:0;width:180px;float:right;}
.g-tpl-300 .g-unit,.g-unit .g-tpl-300 .g-unit,.g-unit .g-unit .g-tpl-300 .g-unit,.g-unit .g-unit .g-unit .g-tpl-300 .g-unit{margin:0 0 0 300px;width:auto;float:none;}
.g-unit .g-unit .g-unit .g-tpl-300 .g-first,.g-unit .g-unit .g-tpl-300 .g-first,.g-unit .g-tpl-300 .g-first,.g-tpl-300 .g-first{margin:0;width:300px;float:left;}
.g-tpl-300-alt .g-unit,.g-unit .g-tpl-300-alt .g-unit,.g-unit .g-unit .g-tpl-300-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-300-alt .g-unit{margin:0 300px 0 0;width:auto;float:none;}
.g-unit .g-unit .g-unit .g-tpl-300-alt .g-first,.g-unit .g-unit .g-tpl-300-alt .g-first,.g-unit .g-tpl-300-alt .g-first,.g-tpl-300-alt .g-first{margin:0;width:300px;float:right;}
.g-tpl-25-75 .g-unit,.g-unit .g-tpl-25-75 .g-unit,.g-unit .g-unit .g-tpl-25-75 .g-unit,.g-unit .g-unit .g-unit .g-tpl-25-75 .g-unit{width:74.999%;float:right;margin:0;}
.g-unit .g-unit .g-unit .g-tpl-25-75 .g-first,.g-unit .g-unit .g-tpl-25-75 .g-first,.g-unit .g-tpl-25-75 .g-first,.g-tpl-25-75 .g-first{width:24.999%;float:left;margin:0;}
.g-tpl-25-75-alt .g-unit,.g-unit .g-tpl-25-75-alt .g-unit,.g-unit .g-unit .g-tpl-25-75-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-25-75-alt .g-unit{width:24.999%;float:left;margin:0;}
.g-unit .g-unit .g-unit .g-tpl-25-75-alt .g-first,.g-unit .g-unit .g-tpl-25-75-alt .g-first,.g-unit .g-tpl-25-75-alt .g-first,.g-tpl-25-75-alt .g-first{width:74.999%;float:right;margin:0;}
.g-tpl-75-25 .g-unit,.g-unit .g-tpl-75-25 .g-unit,.g-unit .g-unit .g-tpl-75-25 .g-unit,.g-unit .g-unit .g-unit .g-tpl-75-25 .g-unit{width:24.999%;float:right;margin:0;}
.g-unit .g-unit .g-unit .g-tpl-75-25 .g-first,.g-unit .g-unit .g-tpl-75-25 .g-first,.g-unit .g-tpl-75-25 .g-first,.g-tpl-75-25 .g-first{width:74.999%;float:left;margin:0;}
.g-tpl-75-25-alt .g-unit,.g-unit .g-tpl-75-25-alt .g-unit,.g-unit .g-unit .g-tpl-75-25-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-75-25-alt .g-unit{width:74.999%;float:left;margin:0;}
.g-unit .g-unit .g-unit .g-tpl-75-25-alt .g-first,.g-unit .g-unit .g-tpl-75-25-alt .g-first,.g-unit .g-tpl-75-25-alt .g-first,.g-tpl-75-25-alt .g-first{width:24.999%;float:right;margin:0;}
.g-tpl-33-67 .g-unit,.g-unit .g-tpl-33-67 .g-unit,.g-unit .g-unit .g-tpl-33-67 .g-unit,.g-unit .g-unit .g-unit .g-tpl-33-67 .g-unit{width:66.999%;float:right;margin:0;}
.g-unit .g-unit .g-unit .g-tpl-33-67 .g-first,.g-unit .g-unit .g-tpl-33-67 .g-first,.g-unit .g-tpl-33-67 .g-first,.g-tpl-33-67 .g-first{width:32.999%;float:left;margin:0;}
.g-tpl-33-67-alt .g-unit,.g-unit .g-tpl-33-67-alt .g-unit,.g-unit .g-unit .g-tpl-33-67-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-33-67-alt .g-unit{width:32.999%;float:left;margin:0;}
.g-unit .g-unit .g-unit .g-tpl-33-67-alt .g-first,.g-unit .g-unit .g-tpl-33-67-alt .g-first,.g-unit .g-tpl-33-67-alt .g-first,.g-tpl-33-67-alt .g-first{width:66.999%;float:right;margin:0;}
.g-tpl-67-33 .g-unit,.g-unit .g-tpl-67-33 .g-unit,.g-unit .g-unit .g-tpl-67-33 .g-unit,.g-unit .g-unit .g-unit .g-tpl-67-33 .g-unit{width:32.999%;float:right;margin:0;}
.g-unit .g-unit .g-unit .g-tpl-67-33 .g-first,.g-unit .g-unit .g-tpl-67-33 .g-first,.g-unit .g-tpl-67-33 .g-first,.g-tpl-67-33 .g-first{width:66.999%;float:left;margin:0;}
.g-tpl-67-33-alt .g-unit,.g-unit .g-tpl-67-33-alt .g-unit,.g-unit .g-unit .g-tpl-67-33-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-67-33-alt .g-unit{width:66.999%;float:left;margin:0;}
.g-unit .g-unit .g-unit .g-tpl-67-33-alt .g-first,.g-unit .g-unit .g-tpl-67-33-alt .g-first,.g-unit .g-tpl-67-33-alt .g-first,.g-tpl-67-33-alt .g-first{width:32.999%;float:right;margin:0;}
.g-tpl-50-50 .g-unit,.g-unit .g-tpl-50-50 .g-unit,.g-unit .g-unit .g-tpl-50-50 .g-unit,.g-unit .g-unit .g-unit .g-tpl-50-50 .g-unit{width:49.999%;float:right;margin:0;}
.g-unit .g-unit .g-unit .g-tpl-50-50 .g-first,.g-unit .g-unit .g-tpl-50-50 .g-first,.g-unit .g-tpl-50-50 .g-first,.g-tpl-50-50 .g-first{width:49.999%;float:left;margin:0;}
.g-tpl-50-50-alt .g-unit,.g-unit .g-tpl-50-50-alt .g-unit,.g-unit .g-unit .g-tpl-50-50-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-50-50-alt .g-unit{width:49.999%;float:left;margin:0;}
.g-unit .g-unit .g-unit .g-tpl-50-50-alt .g-first,.g-unit .g-unit .g-tpl-50-50-alt .g-first,.g-unit .g-tpl-50-50-alt .g-first,.g-tpl-50-50-alt .g-first{width:49.999%;float:right;margin:0;}
.g-tpl-nest{width:auto;}
.g-tpl-nest .g-section{display:inline;}
.g-tpl-nest .g-unit,.g-unit .g-tpl-nest .g-unit,.g-unit .g-unit .g-tpl-nest .g-unit,.g-unit .g-unit .g-unit .g-tpl-nest .g-unit{float:left;width:auto;margin:0;}
.g-tpl-nest-alt .g-unit,.g-unit .g-tpl-nest-alt .g-unit,.g-unit .g-unit .g-tpl-nest-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-nest-alt .g-unit{float:right;width:auto;margin:0;}
h1{font-size:1.8em;}
.g-doc{width:auto;margin:0 10px;}
#ae-logo{display:block;width:176px;height:30px;margin:4px 0 0 0;}
.ae-ir span{position:absolute;top:-9999px;}
.ae-noscript{position:absolute;left:-5000px;}
#ae-lhs-nav{border-right:3px solid #e5ecf9;}
.ae-notification{margin-bottom:.6em;text-align:center;}
.ae-notification strong{display:block;width:55%;margin:0 auto;text-align:center;padding:.6em;background-color:#fff1a8;font-weight:bold;}
.ae-alert{font-weight:bold;background:url(../images/icn/icn-warning.gif) no-repeat;margin-bottom:.5em;padding-left:1.8em;}
.ae-info{background:#f6f9ff url(../images/icn/icn-info.gif) .3em .3em no-repeat;margin-bottom:1em;border:1px solid #e5ecf9;background-color:#f6f9ff;margin-bottom:1em;padding:.5em .5em .5em 2em;}
.ae-promo{padding:.5em .8em;margin:.6em 0;background-color:#fffbe8;border:1px solid #fff1a9;text-align:left;}
.ae-promo strong{position:relative;top:.3em;}
.ae-alert-text,.ae-warning-text{background-color:transparent;background-position:right 1px;padding:0 18px 0 0;}
.ae-alert-text{color:#c00;}
.ae-warning-text{color:#f90;}
.ae-alert-c span{display:inline-block;}
.ae-message{border:1px solid #e5ecf9;background-color:#f6f9ff;margin-bottom:1em;padding:.5em;}
.ae-errorbox{border:1px solid #f00;background-color:#fee;margin-bottom:1em;padding:1em;}
#bd .ae-errorbox ul{padding-bottom:0;}
.ae-form dt{font-weight:bold;}
.ae-form dt em,.ae-field-hint{margin-top:.2em;color:#666667;font-size:.85em;}
.ae-form label{display:block;margin:0 0 .2em 0;font-weight:bold;}
.ae-radio{margin-bottom:.3em;}
.ae-radio label{display:inline;}
.ae-form dd,.ae-input-row{margin-bottom:1em;}
.ae-input-row-group{border:1px solid #fff1a9;background:#fffbe8;padding:8px;}
.ae-btn-row{margin-top:1em;margin-bottom:1em;}
.ae-btn-row a{margin-left:.5em;}
.ae-cancel{margin-left:1em;}
.ae-divider{margin:0 .6em 0 .5em;}
.ae-nowrap{white-space:nowrap;}
.ae-pre-wrap{white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;_white-space:pre;}
a button{text-decoration:none;}
.ae-alert ul{margin-bottom:.75em;margin-top:.25em;line-height:1.5em;}
.ae-alert h4{color:#000;font-weight:bold;padding:0 0 .5em;}
#hd p{padding:0;}
#hd li{display:inline;}
ul{padding:0 0 1em 1.2em;}
#ae-userinfo{text-align:right;white-space:nowrap;}
#ae-userinfo ul{padding-bottom:0;padding-top:5px;}
.ae-rounded-sml{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
a.ae-ext-link{background:url(../images/icn/icn-open-in-new-window.png) no-repeat right;padding-right:18px;margin-right:8px;}
.ae-no-pad{padding-left:1em;}
.ae-message h4{margin-bottom:.3em;padding-bottom:0;}
#ft{text-align:center;margin:2.5em 0 1em;padding-top:.5em;border-top:2px solid #c3d9ff;}
#bd h3{font-weight:bold;font-size:1.4em;}
#bd p{padding:0 0 1em 0;}
#ae-content{padding-left:1em;}
.ae-unimportant{color:#666;}
.ae-table-plain{border-collapse:collapse;width:100%;}
.ae-table{border:1px solid #c5d7ef;border-collapse:collapse;width:100%;}
#bd h2.ae-table-title{background:#e5ecf9;margin:0;color:#000;font-size:1em;padding:3px 0 3px 5px;border-left:1px solid #c5d7ef;border-right:1px solid #c5d7ef;border-top:1px solid #c5d7ef;}
.ae-table-caption,.ae-table caption{border:1px solid #c5d7ef;background:#e5ecf9;-moz-margin-start:-1px;}
.ae-table caption{padding:3px 5px;text-align:left;}
.ae-table th,.ae-table td{background-color:#fff;padding:.35em 1em .25em .35em;margin:0;}
.ae-table thead th{font-weight:bold;text-align:left;background:#c5d7ef;vertical-align:bottom;}
.ae-table tfoot tr td{border-top:1px solid #c5d7ef;background-color:#e5ecf9;}
.ae-table td{border-top:1px solid #c5d7ef;border-bottom:1px solid #c5d7ef;}
.ae-even td,.ae-even th,.ae-even-top td,.ae-even-tween td,.ae-even-bottom td,ol.ae-even{background-color:#e9e9e9;border-top:1px solid #c5d7ef;border-bottom:1px solid #c5d7ef;}
.ae-even-top td{border-bottom:0;}
.ae-even-bottom td{border-top:0;}
.ae-even-tween td{border:0;}
.ae-table .ae-tween td{border:0;}
.ae-table .ae-tween-top td{border-bottom:0;}
.ae-table .ae-tween-bottom td{border-top:0;}
.ae-table #ae-live td{background-color:#ffeac0;}
.ae-table-fixed{table-layout:fixed;}
.ae-table-fixed td,.ae-table-nowrap{overflow:hidden;white-space:nowrap;}
.ae-new-usr td{border-top:1px solid #ccccce;background-color:#ffe;}
.ae-error-td td{border:2px solid #f00;background-color:#fee;}
.ae-paginate strong{margin:0 .5em;}
tfoot .ae-paginate{text-align:right;}
.ae-table-caption .ae-paginate,.ae-table-caption .ae-orderby{padding:2px 5px;}
.ae-delete{cursor:pointer;border:none;background:transparent;}
.ae-breadcrumb{margin:0 0 1em;}
.ae-disabled,a.ae-disabled,a.ae-disabled:hover,a.ae-disabled:active{color:#666!important;text-decoration:none!important;cursor:default!important;opacity:.4!important;-moz-opacity:.4!important;filter:alpha(opacity = 40)!important;}
input.ae-readonly{border:2px solid transparent;border-left:0;background-color:transparent;}
span.ae-text-input-clone{padding:5px 5px 5px 0;}
.ae-loading{opacity:.4;-moz-opacity:.4;filter:alpha(opacity = 40);}
.ae-tip{margin-top:1em;background:url(../images/icn/tip.png) top left no-repeat;padding:5px 0 0 25px;height:1.5em;}
sup.ae-new-sup{color:red;}
.ae-action{color:#00c;cursor:pointer;text-decoration:underline;}
.ae-toggle{padding-left:16px;background-position:left center;background-repeat:no-repeat;cursor:pointer;}
.ae-minus{background-image:url(../images/icn/minus.gif);}
.ae-plus{background-image:url(../images/icn/plus.gif);}
.ae-currency,.ae-table thead th.ae-currency{text-align:right;white-space:nowrap;}
#ae-loading{font-size:1.2em;position:absolute;text-align:center;top:0;width:100%;}
#ae-loading div{margin:0 auto;background:#fff1a9;width:5em;font-weight:bold;padding:4px 10px;-moz-border-radius-bottomleft:3px;-moz-border-radius-bottomright:3px;-webkit-border-radius-bottomleft:3px;-webkit-border-radius-bottomright:3px;}
.ae-occlude{filter:alpha(opacity = 0);position:absolute;}
.g-tpl-66-34 .g-unit,.g-unit .g-tpl-66-34 .g-unit,.g-unit .g-unit .g-tpl-66-34 .g-unit,.g-unit .g-unit .g-unit .g-tpl-66-34 .g-unit{display:inline;margin:0;width:33.999%;float:right;}
.g-unit .g-unit .g-unit .g-tpl-66-34 .g-first,.g-unit .g-unit .g-tpl-66-34 .g-first,.g-unit .g-tpl-66-34 .g-first,.g-tpl-66-34 .g-first{display:inline;margin:0;width:65.999%;float:left;}
#ae-nav ul{list-style-type:none;margin:0;padding:1em 0;}
#ae-nav ul li{padding-left:.5em;}
#ae-nav .ae-nav-selected{color:#000;display:block;font-weight:bold;background-color:#e5ecf9;margin-right:-1px;border-top-left-radius:4px;-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;}
#ae-nav ul li span.ae-nav-disabled{color:#666;}
#ae-nav ul ul{margin:0;padding:0 0 0 .5em;}
#ae-nav ul ul li{padding-left:.5em;}
#ae-nav ul li a,#ae-nav ul li span,#ae-nav ul ul li a{padding-left:.5em;}
#ae-nav li a:link,#ae-nav li a:visited{color:#00c;}
.ae-nav-group{padding:.5em;margin:0 .75em 0 0;background-color:#fffbe8;border:1px solid #fff1a9;}
.ae-nav-group h4{font-weight:bold;padding:auto auto .5em .5em;padding-left:.4em;margin-bottom:.5em;padding-bottom:0;}
.ae-nav-group ul{margin:0 0 .5em 0;padding:0 0 0 1.3em;list-style-type:none;}
.ae-nav-group ul li{padding-bottom:.5em;}
.ae-nav-group li a:link,.ae-nav-group li a:visited{color:#00c;}
.ae-nav-group li a:hover{color:#00c;}