{% extends 'base.html' %}

{% block title %}
	管理
{% endblock %}

{% block scripts %}

<script type="text/javascript" src="/static/scripts/mootools-1.2.1-core.js"></script>
<script type="text/javascript" src="/static/scripts/admin.js"></script>

{% endblock %}

{% block sidebar %}
<div class="sidebar-block spacing">
  <div class="sidebar-block-inner">
    <div class="sidebar-block-content">
      <ul id="menu-list" class="sidebar-block-list">
	    <li class="selected"><a id="adminHome" href="/admin/">管理首页</a></li>
	    <li><a id="manageEntry" href="/manageEntry" >审核文章</a></li>
	    <li><a id="manageRes" href="/manageRes">审核资源</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block main_content %}
<div id="main-content">
	这里是管理首页
</div>
{% endblock %}

{% block extra_nodes %}
<div class="hidden">

<textarea id="entry-admin-table-area">
  <div class="list-area">
  	<h4 class="list-title">文章管理</h4>
  	<table id="entry-admin-table" width="100%" cellspacing="0" cellpadding="0" border="0">
  	  <colgroup>
		<col/>
		<col style="width:30%"/>
	  </colgroup>
  	  <thead>
  	    <tr>
  	      <th class="list-header">标题</th>
  	      <th class="list-header">操作</th>
  	    </tr>
  	  </thead>
  	  <tbody>
  	    <!--  
  	    <tr>
  	      <td class="list-cell list-cell-left-most">test</td>
  	      <td class="list-cell">test</td>
  	    </tr>
  	    -->
  	  </tbody>
	  <tfoot>
	  	<tr>
	  		<td></td>
			<td></td>
	  	</tr>
	  </tfoot>
  	</table>
  </div>
</textarea>

<textarea id="res-admin-table-area">
  <div class="list-area">
  	<h4 class="list-title">资源管理</h4>
  	<table id="res-admin-table" width="100%" cellspacing="0" cellpadding="0" border="0">
  	  <thead>
  	    <tr>
  	      <th class="list-header">URL</th>
  	      <th class="list-header">操作</th>
  	    </tr>
  	  </thead>
  	  <tbody>
  	    <!--  
  	    <tr>
  	      <td class="list-cell list-cell-left-most">test</td>
  	      <td class="list-cell">test</td>
  	    </tr>
  	    -->
  	  </tbody>
  	</table>
  </div>
</textarea>

</div>

{% endblock %}