html, body {
    background-color: #FFFFFF;
}

a, a:visited, .link {
    color: #3C78B5;
}

a:focus {
    -moz-outline: 0;
}

a:focus, .unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

p {
	line-height:140%;
	margin:0pt;
	padding:1em 0 0 0;
}

h1{
	font-size: 150%;
	margin: 0px 10px 0px 0px;
	padding: 10px 0px 5px;
	font-weight: 600;
	letter-spacing: 0px;
	color:#003366;
}

h2{
	font-size: 135%;
	margin: 0px 10px 0px 0px;
	padding: 10px 0px 5px;
	font-weight: 600;
	letter-spacing: 0px;
	color:#003366;
}

h3{
	font-size: 120%;
	margin: 0px 10px 0px 0px;
	padding: 10px 0px 5px;
	font-weight: 600;
	letter-spacing: 0px;
	color:#003366;
}

h4{
	color:#003366;
}

/*********************************************************************/

#site-doc{
}

#site-hd{
	background-color: #003366;
	background-image: url(../images/header.gif);
	background-repeat: repeat-x;
	color: #BBCDDD;
	height: 42px;
}

#site-hd a {
	color:#BBCDDD;
}

#site-bd{
	min-height: 400px;
	margin-top: 10px;
}

#site-nav{
	margin-left: 5px;
}

#site-ft{
	border-top:2px solid #003366;
	clear:both;
	margin:auto;
	padding:5px 0;
	text-align:center;
	color:#777777;
}

#logo {
	float: left;
    cursor: pointer;
    height: 32px;
    width: 258px;
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 0 0 10px;
}

#logo a{
	text-decoration: none;
}

#linkbar {
    float: right;
    padding: .5em 1em;
	color: #99B3CC;
}