.link {
    text-decoration: underline;
    cursor: pointer;
}
.clear{
	clear:both;
}

#hist-iframe { 
	position:absolute; 
	top:0; left:0; 
	width:1px; height:1px; 
    visibility:hidden;
}

.clearer{
	clear:both;
	font-size:1px;
	height:1px;
	line-height:1px;
	margin-bottom:-1px;
	overflow:hidden;
}

.hidden{
	display:none;
}

.spacing {
	margin-bottom:8px;
}

.buttons{
	font-size: 13px;
}

.error-box{
	background:#FFEBE8 none repeat scroll 0 0;
	border:1px solid #DD3C10;
	margin:0 0 10px;
	padding:10px;
}

#hd .bottom .corner-top, #hd .bottom .corner-left, #hd .bottom .corner-bottom {
	background-image:url(../images/cr_title.gif);
}

.corner-top, .corner-left, .corner-bottom {
	background-image:url(../images/cr_tabt.gif);
}

.corner-top, .corner-left, .corner-bottom {
	background-repeat:no-repeat;
	display:block;
	font-size:0;
	height:3px;
	line-height:0;
	margin:0;
	position:relative;
}

.corner-bottom {
	background-position:100% -3px;
	bottom:-1px;
	clear:both;
	right:-1px;
	width:auto;
}

.corner-bottom .corner-left {
	background-position:0 -9px;
	left:-2px;
	width:3px;
}