.link {
    text-decoration: underline;
    cursor: pointer;
}
.clear{
	clear:both;
}

.clearer{
	clear:both;
	font-size:1px;
	height:1px;
	line-height:1px;
	margin-bottom:-1px;
	overflow:hidden;
}

.hidden{
	display:none;
}

.spacing {
	margin-bottom:8px;
}

.field-desc{
	color:#7F7F7F;
	font-size:95%;
	line-height:100%;
	margin:1px 0 0;
	padding:0 0 5px;
}

input.text, textarea {
	border:1px solid #999999;
	padding:2px;
}

input.button {
	border-style: solid;
	border-color: #D9DFEA rgb(14, 31, 91) rgb(14, 31, 91) rgb(217, 223, 234);
	border-width: 1px;
	padding: 1px 5px;
	overflow: visible;
	font-family: Tahoma, sans-serif;
	cursor: pointer;
	color: rgb(255, 255, 255);
	background-repeat: repeat-x;
	background-position: center top;
	background-color: #3B5998;
}

.persistent {
	color:#333333;
	font-size:12px;
	font-weight:normal;
	line-height:16px;
}

/********************** form style ***********************************/

.eb-form {
	border-color: #CCCCCC;
	border: 1px solid #CFCFCF;
	width: 600px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.eb-form .form-inner{
	padding:25px 30px;
}

.eb-form .title-header{
	margin:0 0 10px;
	padding:0 0 10px;
	border-bottom:1px solid #CCCCCC;
}

.eb-form h2{
	font-size: 14px;
}

.eb-form .form-body{
	clear:left;
	margin:auto;
	padding-top:15px;
	text-align:left;
}

.eb-form .form-field{
	padding-left: 14em;
	clear:left;
	margin:0 0 0 13px;
	padding-bottom:5px;
}

.eb-form .form-field .field-label, .eb-form .form-field .first-column{
	left:-5em;
	margin-right:-13em;
	display:inline;
	float:left;
	margin-top:0.15em;
	padding:0 0 5px;
	position:relative;
}

.eb-form .form-field .field-value{
	
}

.eb-form .form-field .field-desc{
	color:#7F7F7F;
	font-size:95%;
	line-height:100%;
	margin:1px 0 0;
	padding:0 0 5px;
}

