{% extends 'base.html' %}

{% block sidebar %}
<div class="sidebar-block spacing">
  <div class="sidebar-block-inner">
    <div class="sidebar-block-content">
      <ul class="sidebar-block-list">
	    <li class="selected">查看文章</a>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block main_content %}
<div id="main-content">
	<div id="breadcrumb">
	   <a href="/">首页</a> » 查看文章
	</div>
	<div class="entry">
      <div class="entry-title"><a href="/entries/{{ entry.id }}">{{ entry.title }}</a></div>
      <div class="entry-info">
      	{% if entry.author %} 作者：{{ entry.author }} {% endif %} &nbsp;&nbsp;&nbsp;&nbsp;
      	发表时间： {{ entry.local_put_time }}
      </div>
      <div class="entry-content">
      	 {{ entry.text }}
      </div>
      <div class="entry-footer">
        <div class="entry-tags">
          <span>标签：{% for tag in entry.entry_tags %} {{ tag.name }} &nbsp;&nbsp; {% endfor %}</span>
        </div>
        <div class="entry-actions">
          <!-- 
          <span>发回邮箱</span>&nbsp;&nbsp;
          <span>发给好友</span>
           -->
        </div>
        <div class="clear"></div>
      </div>
      <div class="entry-comments">
      	
      </div>
      <div class="clear"></div>
    </div>
</div>
{% endblock %}