<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="eduburner.entity.user.User" />
		<mapping class="eduburner.entity.user.Role" />
		<mapping class="eduburner.entity.user.UserData" />
		<mapping class="eduburner.entity.user.UserLog" />
		<mapping class="eduburner.entity.user.PermissionBase" />
		<mapping class="eduburner.entity.course.Course" />
		<mapping class="eduburner.entity.course.CourseTag" />
		<mapping class="eduburner.entity.course.CourseResource" />
		<mapping class="eduburner.entity.course.CoursePermission" />
		<mapping class="eduburner.entity.Entry" />
		<mapping class="eduburner.entity.Comment" />
		<mapping class="eduburner.entity.Service" />
	</session-factory>
</hibernate-configuration>