<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-2.5.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    
    <bean id="fsDirectory" class="org.springmodules.lucene.index.support.FSDirectoryFactoryBean">
    	<property name="location" value="file:///d:/lucene-index/user"/>
    	<property name="create" value="true"/>
    </bean>

	<bean id="targetIndexFactory" class="org.springmodules.lucene.index.support.SimpleIndexFactoryBean">
        <property name="directory" ref="fsDirectory"/>
        <property name="analyzer">
            <bean class="org.apache.lucene.analysis.SimpleAnalyzer"/>
        </property>
        <property name="resolveLock" value="true"/>
		<property name="create" value="true"/>
	</bean>

	<bean id="indexFactory" class="org.springmodules.lucene.index.factory.concurrent.LockIndexFactory">
		<property name="targetIndexFactory" ref="targetIndexFactory"/>
	</bean>
    
    <bean id="searcherFactory" class="org.springmodules.lucene.search.factory.SimpleSearcherFactory">
        <property name="directory" ref="fsDirectory"/>
    </bean>

	
	<!-- 
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
				<property name="jobDetail" ref="jobDetail" />
				<property name="cronExpression" value="0/10 * * * * ?" />
			</bean>
		</property>
	</bean>

	<bean id="jobDetail" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="org.springframework.batch.sample.quartz.JobLauncherDetails" />
		<property name="group" value="quartz-search-index" />
		<property name="jobDataAsMap">
			<map>
				<entry key="jobName" value="footballJob"/>
				<entry key="jobLocator" value-ref="jobRegistry"/>
				<entry key="jobLauncher" value-ref="jobLauncher"/>
			</map>
		</property>
	</bean>
	-->
</beans>